$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$police-txt:'roboko',
sans-serif;
$police-logo:'Shrikhand',
cursive;

@mixin a-comportement {
    text-decoration: none;
    color: black;
}

@mixin lettre-dégradée {
    background: linear-gradient($color-primary, $color-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@keyframes fiche-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;

    }
}

body {
    margin: 0;
}


#bloc_page {
    max-width: 768px;
    margin: auto;
    font-family: $police-txt;
}

header {
    display: flex;
    width: 90%;
    margin: auto;

    & a {

        & .ico {
            font-size: 20px;
            color: initial;


        }
    }

    & h1 {
        text-align: center;
        font-family: $police-logo;
        font-size: 40px;
        margin: 0;
        width: 100%;


    }


}

.main {
    width: 100%;
    margin: 0;
    position: relative;

    & img {
        width: 100%;
        height: 300px;
        object-fit: cover;



    }

    &--titre {
        background: #f7f7f7;
        position: absolute;
        width: 100%;
        margin-top: -60px;
        padding-top: 15px;
        border-radius: 30px 30px 0 0;

        &--txt {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            padding-left: 15px;
            padding-right: 30px;
            position: relative;



            & h1 {
                font-family: $police-logo;
                font-size: 26px;
                margin-bottom: 5px;

            }

            & i {
                font-size: 25px;


            }

            & p {
                position: absolute;
                margin: 0;
                right: 30px;
                top: 26.5px;

                & i {
                    transition: all 500ms ease-in-out;
                    transform-origin: 50% bottom;
                    transform: scale(0);
                    @include lettre-dégradée;

                }

                &:hover {
                    & i {
                        transform: scale(1);
                    }
                }
            }
        }
    }
}

.menu {
    background: #f7f7f7;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;



    &--txt {
        width: 95%;
        margin: auto;
        padding-bottom: 20px;



        & h2 {
            font-weight: initial;
            font-size: 16px;
            margin: 0;
            padding-top: 15px;
            margin-left: 2%;
        }

        & hr {
            margin-left: 2%;
            width: 45px;
            background: $color-tertiary;
            height: 2px;
            border: none;

        }


        &_dekstop {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            padding-top: 10px;



            & .fiche {
                display: flex;
                background: white;
                border-radius: 15px;
                box-shadow: 0px 4px 5px 0px #c4c4c4;
                cursor: pointer;
                overflow: hidden;
                transform: translateY(0);



                &:nth-child(1) {
                    animation: fiche-up 1.3s ease-in-out;
                }

                &:nth-child(2) {
                    animation: fiche-up 1.3s 0.1s ease-in-out;
                    animation-fill-mode: backwards;
                }

                &:nth-child(3) {
                    animation: fiche-up 1.3s 0.2s ease-in-out;
                    animation-fill-mode: backwards;
                }

                &:nth-child(4) {
                    animation: fiche-up 1.3s 0.3s ease-in-out;
                    animation-fill-mode: backwards;
                }


                &--titre {
                    padding: 13px;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    white-space: nowrap;
                    width: 80%;


                    & h3 {
                        margin: 0;
                        padding-bottom: 9px;
                        font-size: 16px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                    }

                    & p {
                        margin: 0;
                        font-size: 16px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                    }

                }



                &--prix {
                    display: flex;
                    width: 20%;
                    padding-bottom: 15px;
                    justify-content: center;
                    align-items: flex-end;


                    & span {
                        font-size: 17px;
                        font-weight: bold;
                    }

                }

                &--check {
                    background: $color-tertiary;
                    display: flex;
                    margin: 0;
                    width: 0;
                    height: 100%;


                    & i {
                        margin: auto;
                        padding: 28px;
                        color: white;
                        font-size: 20px;
                        transition: all 0.6s 0.2s;
                        transform: rotate(0deg);
                        display: block;

                    }

                }

                &:hover {

                    & .fiche--check {
                        width: 30%;
                        transition: 1.2s;

                    }


                    & i {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }

    &--commande {

        @include a-comportement;
        width: 40%;
        margin: auto;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 11px;
        padding-right: 11px;
        border-radius: 25px;
        font-size: 14px;
        color: white;
        background: linear-gradient($color-secondary, $color-primary);
        box-shadow: 0px 4px 5px 0px #c4c4c4;
        margin-bottom: 60px;
        margin-top: 20px;
        text-align: center;
        transition: all 500ms;


        &:hover {
            background: linear-gradient(#9b65db, #ef7fd0);
            transform: scale(1.05);
            box-shadow: 0px 4px 5px 0px #9c9c9c;
        }
    }
}


.bdp {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    background: #2d2d2d;
    color: white;

    &--txt {
        width: 90%;
        margin: auto;

        & h5 {
            font-family: $police-logo;
            font-size: 16px;
            margin: 0;
            padding-top: 10px;
            padding-bottom: 20px;

        }

        & nav {
            padding-bottom: 30px;

            & a {
                @include a-comportement;
                color: white;
                display: flex;
                align-items: center;
                font-size: 14px;
                margin-bottom: 8px;

                &:hover {
                    @include lettre-dégradée;
                }

                & i {
                    margin-right: 15px;
                }
            }
        }
    }
}

@media all and (min-width:992px) {

    #bloc_page {
        min-width: 768px;
        max-width: 1200px;
    }

    header {
        & a {
            & .ico {
                font-size: 30px;
            }
        }

        & h1 {
            font-size: 60px;
        }
    }


    .menu {

        &--txt {

            & h2 {
                margin-left: 46%;
            }

            & hr {
                margin-left: 46%;
            }

            &_dekstop {

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;

                & .fiche {
                    width: 28%;

                }
            }
        }

        &--commande {
            width: 20%;
        }
    }

}


@media all and (min-width:768px) and (max-width:992px) {

    #bloc_page {
        min-width: 768px;
        max-width: 992px;
    }

    header {
        & a {
            & .ico {
                font-size: 30px;
            }
        }

        & h1 {
            font-size: 60px;
        }
    }

    .menu {

        &--txt {

            & h2 {
                margin-left: 22%;
            }

            & hr {
                margin-left: 22%;
            }

            & .fiche {
                width: 60%;
                margin: auto;

            }
        }

        &--commande {
            width: 25%;
        }
    }
}